.features {
  display: flex;
  align-items: center;
  padding: 4rem 0;
  width: 100%;
  background-color: var(--ifm-background-color);
}

.featureEmoji {
  font-size: 4rem;
  margin-bottom: 1rem;
  line-height: 1;
}

.features h3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: var(--ifm-heading-color);
}

.features p {
  font-size: 1rem;
  line-height: 1.6;
  color: var(--ifm-color-emphasis-700);
}

.features .col {
  margin-bottom: 2rem;
  padding: 1.5rem;
}

@media screen and (max-width: 996px) {
  .features {
    padding: 2rem 0;
  }

  .featureEmoji {
    font-size: 3rem;
  }
}
